h1 {
    font-family:'Tulpen One', cursive;
    text-align: center;
    color:lightgrey;
    font-size: 150px;
    letter-spacing: 7px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    font-family: 'Inconsolata';
    text-align: center;
    color: lightgrey;
    margin-top: 0px;
}

body {
    background-color: black;
}

.bday-form {
    background-color: lightgrey;
    font-family: 'Inconsolata';
    height: 50px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.drop-selections {
    text-align: center;
    margin-top: 75px;
}

.form-select {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Inconsolata';
    color: lightgrey;
    text-align: center;
}
